body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__nav {
    display: none;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 33px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.brand {
    display: flex;
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__title-wrp {
    flex-grow: 1;
    background: #F1E4E6;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: #f18b99;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.sales__item {
    height: 260px;
    width: 360px;
    margin-top: 65px;
}

.sales__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: #f18b99;
}

.sales__item--woman {
    background-image: url(/img/forWomen.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item--man {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/forMan.png);
}

.sales__item--kids {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/forKids.png);
}

.sales__item--accesories {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url(/img/accesories.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 96px;
}

.products__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.products__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.products__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 24px 0 13px 18px;
    text-transform: uppercase;
}

.products__item-text {
    margin: 12px 0 18px 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products__item-price {
    margin: 0 0 0 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.button {
    display: flex;
    justify-content: center;
}
.products__button {
    border: 1px solid #FF6A6A;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px 14px 38px;
    margin: 48px 0 95px 0;
}

.delivery {
    background-color: #222224;
    min-height: 341px;
}

.delivery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.delivery__item {
    width: 360px;
    height: 134px;
    margin-top: 103px;
}

.delivery__item-img {
    margin: 0 0 0 158px;
}

.delivery__item-title {
    margin: 28px 0 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.delivery__item-text {
    text-align: center;
    margin: 16px 0 0 0;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

.footer {
    background-color: #222224;
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    margin-left: 7px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}