body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    background-color: transparent;
    border: none;
}

.header__icon {
    fill: #E8E8E8;
}

.header__icon:hover {
    fill: #F16D7F;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}


.header__nav:hover {
    display: block;
}

.header__nav-button {
    background-color: transparent;
    border: none;
    margin-top: 16px;
    margin-left: 203px;
    margin-bottom: 9px;
}

.header__nav-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 34px;
    margin-bottom: 24px;
}

.header__nav-list {
    margin-left: 33px;
}

.nav-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.nav-item__list {
    margin-left: 13px;
    margin-bottom: 20px;
}

.nav-item__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
}

.header__nav {
    position: absolute;
    width: 232px;
    top: 100%;
    right: 0;
    background: white;
    min-height: 764px;
    display: none;
}

.hover__icon-burger {
    cursor: pointer;
}

.header__burger:hover+.header__nav,
.header__burger:focus+.header__nav,
.header__burger:active+.header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 33px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.brand {
    display: flex;
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__title-wrp {
    flex-grow: 1;
    background: #F1E4E6;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: #f18b99;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.sales__item {
    height: 260px;
    width: 360px;
    margin-top: 65px;
}

.sales__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: #f18b99;
}

.sales__item--woman {
    background-image: url(../img/forWomen.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sales__item--man {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/forMan.png);
}

.sales__item--kids {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/forKids.png);
}

.sales__item--accesories {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../img/accesories.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 96px;
}

.products__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.products__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item-wrp {
    position: relative;

}

.products_button-overlay {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.products_button-title {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin-left: 11px;
    padding-bottom: 13px;
}

.products__button-basket {
    width: 26px;
    height: 24px;
}

.products__item-wrp:before {
    content: '';
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
}

.wrp,
.products_button-overlay {
    display: none;
}

.products__item-wrp:before {
    display: none;
}

.products__item:hover .products_button-overlay,
.products__item:hover .wrp,
.products__item:hover .products__item-wrp:before {
    display: block;
}

.products_button-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.products__item {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.products__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 24px 0 13px 18px;
    text-transform: uppercase;
}

.products__item-text {
    margin: 12px 0 18px 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products__item-price {
    margin: 0 0 0 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button {
    display: flex;
    justify-content: center;
}

.products__button {
    border: 1px solid #FF6A6A;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px 14px 38px;
    margin: 48px 0 95px 0;
}

.products__button:hover {
    border: 1px solid #F16D7F;
    ;
    background-color: #F16D7F;
    ;
    color: #F8F8F8;
}

.delivery {
    background-color: #222224;
    min-height: 341px;
}

.delivery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.delivery__item {
    width: 360px;
    height: 134px;
    margin-top: 103px;
}

.delivery__item-img {
    margin: 0 0 0 158px;
}

.delivery__item-title {
    margin: 28px 0 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.delivery__item-text {
    text-align: center;
    margin: 16px 0 0 0;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}

.subscribe {
    min-height: 448px;
    background-image: url(../img/subscribe.jpg);
}

.footer {
    background-color: #222224;
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    margin-left: 7px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__item-img {
    background-color: #F8F8F8;
}

.footer__item-img:hover {
    background: #F16D7F;
    fill: #FFFFFF;
    ;
}

/* --------------------------Страница регистрации---------------------------------- */

.registration {
    min-height: 148px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.send__wrp {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
}
/* Временно */
.send__form  {
   width: 850px;
}
.send__info-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
}

.send__info-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 22px;
}

.send__info__list {
    margin-top: 21px;
}

.send__info__item {
    margin-top: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    position: relative;
    margin-left: 39px;
}

.send__info__item:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: -35px;
    background-image: url(../img/done.svg);
    background-repeat: no-repeat;
  }