.footer {
    background-color: #222224;
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__send {
        width: 557px;
        margin-top: 150px;

        @include tablet {
            margin-top: 48px;
        }

        @include mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 342px;
        }
    }
    
    &__send__form {
    display: flex;
    justify-content: center;
    border-radius: 60px;
    margin-top: 32px;
    align-items: center;

    @include mobile {
        width: 342px;
    }
    }
    
    &__send__form-email {
        border-radius: 64px 0 0 64px;
        border: none;
        width: 256px;
        height: 49px;
        padding-left: 22px;
        color: #646464;
    
    }
    
    &__send__form-email::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #000000;
        opacity: 0.67;
    }
    
    &__send__form-submit {
        background: #F16D7F;
        border-radius: 0px 64px 64px 0px;
        border: none;
        width: 100px;
        height: 51px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* display: flex; */
        align-items: center;
        text-align: center;
        color: #fff;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }
    
    &__send__title {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            @include font (18px, 27px, 700)
        }

        @include mobile {
            width: 271px;
        }
    }
    
    &__send__text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            @include font (18px, 29px, 400)
        }

        @include mobile {
            width: 271px;
        }
    }
      
    &__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
    }
    @include mobile {
    &__container {
        order: 2;
        }
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        @include mobile {
            margin-top: 51px;
            margin-bottom: 41px;
        }
    }
    
    

    &__item {
        margin-left: 7px;
    }
    
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    &__item-img {
        background-color: #F8F8F8;
    }
    
    &__item-img:hover,
    &__item-img:focus,
    &__item-img:active {
        background: #F16D7F;
        fill: #FFFFFF;
        ;
    }
    &__send__form-submit:hover,
    &__send__form-submit:focus,
    &__send__form-submit:active {
        opacity: 0.7;
        cursor: pointer;
    }
    &__send__form-email:hover,
    &__send__form-email:focus,
    &__send__form-email:active {
        opacity: 0.7;
        cursor: pointer;
    }
}

